{% extends "main.html" %}


{% block content %}

<h6>売上入力画面 | 物件 {{ selected_bukken }}|レポート日 / {{ selected_month }}</h6>
<form method="POST" action="{% url 'solitonRE:bm_item_field_view' %}">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="table-wrapper">
    <table id="input_field-custom-table" class="table table-bordered">
        <thead>
            <tr>
                <th>BM項目</th>
                <th>BM内容説明</th>
                <th>BM項目CD</th>
                <th>削除</th>
            </tr>
        </thead>
        <tbody id="formset-container">
            {% for form in formset  %}
                <tr class="form-row">

                    <td class="input-filed-row">{{ form.BM項目 }}</td>
                    <td class="input-filed-row">{{ form.BM内容説明 }}</td>
                    <td class="input-filed-row">{{ form.BM項目CD }}</td>
                    <td class="input-filed-row">{{ form.DELETE }} </td><!-- This renders the delete checkbox -->
                    {{ form.id }} <!-- Ensure the hidden 'id' field is rendered -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>


    <button type="submit" class="btn btn-success">保存</button>


    
</form>


<script>
    document.addEventListener('DOMContentLoaded', function() {
    console.log('DOM fully loaded and parsed');

    // Initialize AutoNumeric for 'deci-separated' inputs
    new AutoNumeric.multiple('.deci-separated', {
        digitGroupSeparator: ',',
        decimalPlaces: 2, // Set to 2 decimal places
        decimalCharacter: '.',
        currencySymbol: '',
    });

    // Initialize AutoNumeric for 'comma-separated' inputs
    new AutoNumeric.multiple('.comma-separated', {
        digitGroupSeparator: ',',
        decimalPlaces: 0, // Set to 2 decimal places
        decimalCharacter: '.',
        currencySymbol: '',
    });
});
</script>


{% endblock %}