{% extends "layout.html" %}

{% block content %}
  <h2>売上 Detail</h2>
  <p>物件ID: {{ 売上.物件ID }}</p>
  <p>テナントID: {{ 売上.テナントID }}</p>
  <p>管理項目コード: {{ 売上.管理項目コード }}</p>
  <p>契約番号: {{ 売上.契約番号 }}</p>
  <p>レポート日: {{ 売上.レポート日 }}</p>
  <p>該当月開始月: {{ 売上.該当月開始月 }}</p>
  <p>該当月終了月: {{ 売上.該当月終了月 }}</p>
  <p>請求書発行月: {{ 売上.請求書発行月 }}</p>
  <p>入金予定日: {{ 売上.入金予定日 }}</p>
  <p>計上日: {{ 売上.計上日 }}</p>
  <p>請求金額: {{ 売上.請求金額 }}</p>
  <p>請求消費税: {{ 売上.請求消費税 }}</p>
  <p>請求税金込: {{ 売上.請求税金込 }}</p>
  <p>当月入金額: {{ 売上.当月入金額 }}</p>
  <p>備考: {{ 売上.備考 }}</p>
  <p>DeleteFlag: {{ 売上.DeleteFlag }}</p>
  <a href="{% url 'solitonRE:売上-update' 売上.id %}">Edit</a> |
  <a href="{% url 'solitonRE:売上-delete' 売上.id %}">Delete</a> |
  <a href="{% url 'solitonRE:売上-list' %}">Back to List</a>
{% endblock %}